anaconda-navigator
anaconda-project
argh
asn1crypto
astropy
autopep8
backports.shutil-get-terminal-size
bitarray
bkcharts
bokeh
boto
bottleneck
brotlipy
colorama
conda-build
conda-package-handling
conda-repo-cli
conda-token
conda-verify
contextlib2
cython
cytoolz
distributed
fastcache
flake8
flask
gevent
glob2
gmpy2
h5py
html5lib
importlib-metadata
jdcal
jupyter
jupyterlab
lxml
mkl-fft
mkl-random
mkl-service
mock
more-itertools
multipledispatch
mypy-extensions
navigator-updater
nltk
nose
numba
olefile
openpyxl
path
pathlib2
pep8
pip-chill
ply
pycurl
pydocstyle
pyodbc
pyopenssl
pysocks
pytest-cov
pyvim
rope
rtree
scikit-image
scikit-learn
seaborn
simplegeneric
singledispatch
sortedcollections
sphinxcontrib-websupport
spyder
sqlalchemy
statsmodels
sympy
tables
tomli
unicodecsv
xlrd
xlsxwriter
xlwings
xlwt
xmltodict
yapf
